# tpm will install our plugins, we ignore them because we do not want subrepos
tmux/.config/tmux/plugins/

# Ignore various config directories that shouldn't be tracked
.config/configstore/
.config/gcloud/
.config/gh/

# macOS system files
.DS_Store
