@import "colors.css";

* {
  font-family: JetBrainsMono Nerd Font;
  background-image: none;
  transition: none;
  box-shadow: none;
}

window {
  background-color: @bg;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background-color: @button_bg;
  color: @text;
  outline: none;
  margin: 6px;
}

button:focus {
  background-color: @button_hover;
  color: @text_hover;
  background-size: 22%;
  border: 1px solid rgba(255, 255, 255, 0.06);
  outline: none;
}

button:hover {
  background-color: @button_hover;
  color: @text_hover;
  background-size: 22%;
  border: 1px solid rgba(255, 255, 255, 0.06);
  outline: none;
}

#lock {
  margin: 6px;
  background-image: image(url("./icons/lock.png"));
}

#logout {
  margin: 6px;
  background-image: image(url("./icons/logout.png"));
}

#suspend {
  margin: 6px;
  background-image: image(url("./icons/suspend.png"));
}

#hibernate {
  margin: 6px;
  background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
  margin: 6px;
  background-image: image(url("./icons/shutdown.png"));
}

#reboot {
  margin: 6px;
  background-image: image(url("./icons/reboot.png"));
}
