@import "colors.css";

* {
  font-family: "Inter", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  background-image: none;
  transition: 20ms;
  box-shadow: none;
}

window {
  background-color: rgba(26, 17, 15, 0.1);
  background-size: cover;
  font-size: 16pt;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 80px;
  border: none;
  transition:
    all 0.1s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
  color: #7a7a7a;
  background-color: alpha(@primary, 0.2);
  outline: none;
}

button:focus {
  background-color: alpha(@primary, 0.5);
  background-size: 25%;
  border: none;
  outline: none;
  color: #d0d0d0;
}

button:hover {
  background-color: alpha(@primary, 0.9);
  opacity: 0.8;
  color: @on_primary;
  background-size: 22%;
  margin: 12px;
  border-radius: 80px;
  box-shadow: 0 0 50px @shadow;
  border: none;
  outline: none;
}

#lock {
  margin: 10px;
  border-radius: 20px;
  border: none;
  background-image: image(url("./icons/lock.png"));
}

#logout {
  margin: 10px;
  border-radius: 20px;
  border: none;
  background-image: image(url("./icons/logout.png"));
}

#suspend {
  margin: 10px;
  border-radius: 20px;
  border: none;
  background-image: image(url("./icons/suspend.png"));
}

#hibernate {
  margin: 10px;
  border-radius: 20px;
  border: none;
  background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
  margin: 10px;
  border-radius: 20px;
  border: none;
  background-image: image(url("./icons/shutdown.png"));
}

#reboot {
  margin: 10px;
  border-radius: 20px;
  border: none;
  background-image: image(url("./icons/reboot.png"));
}
